<style>
#dividedLinks {
    border-top: 1px dashed #666666;
    padding-top: 1em;
}
</style>
<table width="20%" border=0>
  <tr>
    <th align="left" width="20px">Listings</th>
    <th></th>
    <th></th>
  </tr>
<% @streams.each do |stream| %>
  <tr>
    <td><fb:profile-pic uid="<%= stream.user.fb_user_id.to_i %>" facebook-logo="true" size="thumb" ></fb:profile-pic></td>
    <td><%=h stream.name %></td>
    <td><%= submit_tag("Pimp it") %></td>
    <% if stream.user == current_user %>
      <td><%= link_to image_tag("/images/icons/delete.png", :style => "text-decoration:none;border:0;"), stream, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
  <tr>
   <td><div id="dividedLinks"></div></td>
   <td><div id="dividedLinks"></div></td>
   <td><div id="dividedLinks"></div></td>
  </tr>
<% end %>

</table>

<br />
