<style>
#dividedLinks {
    border-top: 1px dashed #666666;
    padding-top: 1em;
}
</style>
<table width="20%" border=0>
<% @xmlroot.each_element('//title') do |element| %>
<tr>
 <td><%= element.text %></td>
</tr>
<% end %>
</table>

<br />